:root {
  --primary-text-color: #212121;
  --primary-text-color2: #ffffff;
  --ouwer-text-color: #757575;
  --ouwer-text-color2: #ffffff;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --line-color: #ececec;
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}
/* Шапка сайта */
.logo {
  color: var(--logo-color);
}
.logo-word {
  color: var(--acent-color);
}
/* site-nav */
.site-nav:hover,
.site-nav:focus {
  color: var(--acent-color);
}
/* .tel-mail */
.tel-mail {
  color: var(--ouwer-text-color);
}
.tel-mail:hover,
.tel-mail:focus {
  color: var(--acent-color);
}
/* Hero */
.hero-button {
  color: var(--background-color);
  background-color: var(--acent-color);
}
/* buttons */
.button:hover,
.button:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
}
