:root {
  --primary-text-color: #212121;
  --secondary-primary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --secondary-ouwer-text-color: #ffffff;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --line-color: #ececec;
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

/* Шапка сайта */

.logo {
  color: var(--logo-color);
}
.logo-word {
  color: var(--acent-color);
}
/* site-nav */
.link-nav {
  color: var(--primary-text-color);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--acent-color);
}
.site-nav.link-nav.current {
  color: var(--acent-color);
}
/* .tel-mail */
.tel-mail {
  color: var(--ouwer-text-color);
}
.tel-mail:hover,
.tel-mail:focus {
  color: var(--acent-color);
}

/* studio */

/* Hero studio */
.hero-button {
  color: var(--background-color);
  background-color: var(--acent-color);
  cursor: pointer;
}

/* portfolio */

/* buttons portfolio */
.button {
  color: var(--primary-text-color);
  background-color: var(--buttons-port-color);
}
.button:hover,
.button:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
  cursor: pointer;
}

/* Footer */
.logo-footer {
  color: var(--secondary-primary-text-color);
  background-color: var(--primary-text-color);
}
